In [1]:
import pandas as pd
import tensorflow as tf
from tensorflow.keras import Sequential
from tensorflow.keras.layers import Dense

import numpy as np
import json

from sklearn.model_selection import train_test_split
from sklearn.utils import shuffle
from google.cloud import bigquery
from witwidget.notebook.visualization import WitWidget, WitConfigBuilder

In [2]:
query="""
SELECT
  weight_pounds,
  is_male,
  mother_age,
  plurality,
  gestation_weeks
FROM
  publicdata.samples.natality
WHERE year > 2000
LIMIT 10000
"""
df = bigquery.Client().query(query).to_dataframe()
df.head()

   weight_pounds  is_male  mother_age  plurality  gestation_weeks
0       6.686620     True          18          1             43.0
1       9.360828     True          32          1             41.0
2       8.437091    False          30          1             39.0
3       6.124442    False          24          1             40.0
4       7.125340    False          26          1             41.0

In [3]:
df.describe()

       weight_pounds    mother_age     plurality  gestation_weeks
count    9989.000000  10000.000000  10000.000000      9890.000000
mean        7.297602     27.298900      1.034400        38.699798
std         1.291685      6.165838      0.192926         2.539957
min         0.612885     12.000000      1.000000        17.000000
25%         6.624891     22.000000      1.000000        38.000000
50%         7.374463     27.000000      1.000000        39.000000
75%         8.124034     32.000000      1.000000        40.000000
max        12.257702     50.000000      3.000000        47.000000

In [ ]:
df['is_male'].value_counts()